<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>百女图</title>
	<script src="./vue.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
</head>
<body>
	<div id="app">
		<table width="1000px" class="table table-bordered">
			<tr>
				<td width="150">美女类型</td>
				<td width="300">美女图片</td>
				<td width="150">美女数量</td>
				<td width="150">美女价格</td>
				<td width="120">操作</td>
				<td>总价</td>
			</tr>
			<tr v-for="(item,index) in list">
				<td>{{ item.name }}</td>
				<td><img :src="item.imgurl" width="300px"></td>
				<td>{{ item.number }}</td>
				<td>{{ item.price }}</td>
				<td>
					<button class="btn btn-success" @click="add(item)">+</button>
					<button class="btn btn-danger" v-if="item.number == 0 ? false:true" @click="sub(item)">-</button>
				</td>
				<td>
					{{ item.number * item.price }}
				</td>
			</tr>
			<tr>
				<td width="150">美女类型</td>
				<td width="300">美女图片</td>
				<td width="150">美女数量</td>
				<td width="150">美女价格</td>
				<td width="120">操作</td>
				<td width="120">总价</td>
				<td></td>
			</tr>
		</table>
		<br>
		请选择你的心仪对象:
		<input type="text" value="" v-model="imgurl">
		<br>
		<img :src="imgurl" width="1300">
	</div>
</body>
</html>
<script type="text/javascript">
	new Vue({
		el:'#app',
		data:{
			list:[{
				name:'清纯',
				imgurl:'./2.jpg',
				price:600000,
				number:0
			},{
				name:'甜美',
				imgurl:'./3.jpeg',
				price:800000,
				number:0
			},{
				name:'性感',
				imgurl:'./3.jpg',
				price:400000,
				number:0
			},{
				name:'制服',
				imgurl:'./4.jpg',
				price:500000,
				number:0
			}],
			show:true,
			array:[],
			imgurl:''
		},
		methods:{
			add:function(item){
				item.number++
			},
			sub:function(item){
				item.number--
			}
		}
	})
</script>