<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>a</title>
	<script src="./Vue.js"></script>
</head>
<body>
	<div id="app">
		{{ meishi }}
		<br>
		<input type="text" v-model="meishi">
		<br>
		<input type="text" v-model="one">
		<br>
		<input type="text" v-model="two">
		{{ Number(one) + Number(two) }}
		<br>
		<p v-if="show"><img src="./1.gif"></p>
		<p v-else><img src="./2.gif"></p>
		<button @click="tankuang">媳妇</button>
		
	</div>
</body>
</html>
<script type="text/javascript">
	new Vue({
		el:"#app",
		data:{
			meishi:'我现在不想吃饭了，但是想吃零食',
			one:0,
			two:0,
			show:true,
		},
		methods:{
			tankuang:function(){
				this.show = !this.show;
			}
		}
	});
</script>